{% extends 'teacher/index.html' %}
{% block content %}

<center>
    <table class="table table-dark table-striped" style="width:50%" align="center">
        <tr style="background-color: green;">
            <h2 STYLE="color: RED;"><B><u>EXAM</u></B></h2>
            <th style="color:black;">Sl.No</th>
            <th style="color:black;">question</th>
            <th style="color:black;">ans</th>
            <th style="color:black;">option1</th>
            <th style="color:black;">option2</th>
            <th style="color:black;">option3</th>
            <th style="color:black;">option4</th>


        </tr>
        {% for i in data %}
        <tr style="background-color: green;">
            <td class="">{{ forloop.counter }}</td>
            <td>{{i.name}}</td>
            <td>{{i.description}}</td>
            <td>{{i.option1}}</td>
            <td>{{i.option2}}</td>
            <td>{{i.option3}}</td>
            <td>{{i.option4}}</td>
<!--            <td><a href="{% url 'updatenotification' i.id %}"><button class="btn btn-info" type="submit">Update</button></a></td>-->
<!--            <td><a href="{% url 'deletenotification' i.id %}"><button class="btn btn-danger" type="submit">Delete</button></a></td>-->


        </tr>
        {% endfor %}
    </table>
</center>
{% endblock %}