{% extends 'teacher/index.html' %}
{% block content %}

<center>
    <table class="table table-dark table-striped" style="width:80%" align="center">
        <tr style="background-color: green;">
            <th style="color:black;">Sl.No</th>
            <th style="color:black;">Student</th>
            <th style="color:black;">Description</th>
            <th style="color:black;">Date</th>
            <th style="color:black;">Approval</th>
        </tr>
        {% for i in data %}
        <tr style="background-color: green;">
            <td class="">{{ forloop.counter }}</td>
            <td>{{i.s_name}}</td>
            <td>{{i.description}}</td>
            <td>{{i.date}}</td>
            <td>
                {% if i.status == 0 %}
                <a href="{% url 'approveleave' i.id %}"><button class="btn btn-info" type="submit">Approve</button></a>
                {% elif i.status == 1 %}
                <p class="btn btn-success">Approved</p>
                {% else %}
                <p class="btn btn-danger">Rejected</p>
                {% endif %}
                <form action="{% url 'deleteleave' i.id%}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="teacher" value="{{i.id}}"/>
                    <br>
                    <button type="submit" class="btn btn-info">Reject</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</center>
{% endblock %}