{% extends 'teacher/index.html' %}
{% block content %}

<table class="table table-dark table-striped" style="margin-left:60px;margin-right:60px;color:black;padding:20px;border:2px solid green;border-collapse:collapse;width:40%;width:800px;">
    <tr style="height:60px;background-color:green;">
        <th style="color:black;">SL.NO</th>
        <th style="color:black;">Student</th>
        <th style="color:black;">Date</th>
        <th style="color:black;">Description</th>
        <th style="color:black;">reply</th>
<!--        <th style="color:black;">Edit</th>-->
<!--        <th style="color:black;">Edit</th>-->

    </tr>
    {% csrf_token %}
    {% for i in data %}
    <tr style="background-color: green;">
        <td>{{ forloop.counter }}</td>
        <td>{{i.s_name}}</td>
        <td>{{i.date}}</td>
        <td>{{i.description}}</td>
<!--        <td>{{i.reply}}</td>-->
        <td><a href="{% url 'add_reply' i.id %}"><button class="btn btn-info" type="submit">Reply</button></a></td>
<!--        <td><a href="#"><button class="btn btn-danger" type="submit">Delete</button></a></td>-->


    </tr>
    {% endfor %}
</table>
{% endblock %}
